.HomePageComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20rem;
    .storySection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .feedSection {
        display: flex;
        justify-content: center;
    }

    .HomePageSide {
        position: fixed;
        left: calc(50vw + 475px - 20rem);
        margin-top: 5rem;
        margin-left: 2rem;
    }

    .loader {
        width: 15rem;
        height: 15rem;
        display: flex;
        justify-content: center;
    }

    .icon {
        
    }
}