.HomePageComponent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .storySection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .feedSection {
        display: flex;
        justify-content: center;
    }

    .HomePageSide {
        margin-top: 5rem;
        margin-left: 2rem;
    }
}