.HomePageComponent {
    .storySection {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .feedSection {
        display: flex;
        justify-content: center;
    }
}