.explorePageComponent {
    width: 100%;

    .imageChunk {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 3rem;
        grid-row-gap: 3rem;
        justify-content: center;
        overflow: hidden;

    }

    .large {
        height: 100%;
    }

    .small {
        height: 100%;
    }
}