.feedComponent {
    width: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .image {
        width: 100%;
        height: 40rem;
        overflow: hidden;
        user-select: none;
    }
    
    .header {
        width: 95%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Add-a-comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
        min-height: 56px;
    }
    
    .icons {
        margin-bottom: 1rem;
        width: 98%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .icons-left {
        width: 7rem;
    }
    
    .comment-input {
        width: 90%;
        overflow: hidden;
        text-align-last: left;
        font-family: sans-serif;
        height: 18px;
        resize: none;
    }
    
    .comment-post {
        border-style: none;
        background: none;
        color: rgba(0, 119, 197, 0.3);
        font-weight: bold;
        font-size: 1rem;
        outline: none;
        cursor: pointer;
    }

    .comment-post:hover {
        color: #0095f6;
    }

    .icons-left, .icons-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .line-separation {
        width: 100%;
        border-top: 1px solid #e0e0e0;
    }

    .heart:hover {
        fill: red;
    }

    .Comments {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comment {
        width: 95%;
    }
}



.postComponent {
    max-width: 60rem;
    margin-top: 2rem;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    
    .image {
        height: 100%;
        overflow: hidden;
        user-select: none;
    }
    
    .header {
        width: 95%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .Add-a-comment {
        width: 90%;
        min-height: 4rem;
        display: flex;
        justify-content: space-between;
    }
    
    .icons {
        margin-bottom: 1rem;
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #e0e0e0;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .icons-left {
        width: 7rem;
    }
    
    .comment-input {
        width: 90%;
        overflow: hidden;
        text-align-last: left;
        font-family: sans-serif;
    }
    
    .comment-post {
        border-style: none;
        background: none;
        color: rgba(0, 119, 197, 0.3);
        font-weight: bold;
        font-size: 1rem;
        outline: none;
    }

    .comment-post:hover {
        color: #0095f6;
    }

    .icons-left, .icons-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .line-separation {
        width: 100%;
        border-top: 1px solid #e0e0e0;
    }

    .heart:hover {
        fill: red;
    }

    .Comments {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #e0e0e0;
    }

    .comment {
        width: 95%;
    }

    .sideSection {
        width: 95%;
    }
}